---

---
@charset "utf-8";
// HLB brand colors , original secondary:#BD5A0A;
$primary: #f48123;
$secondary: #f48123;
$secondary-hover: darken($secondary, 10%);

// based on navigation
$media-color-one: #FFFFFF; // for all
$media-color-two: #5C5CA5; // annual report
$media-color-three: #00878C; // news
$media-color-four: #37BCEB; // media advisory
$media-color-five: #F8A909; // event listing

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
	color: $secondary !important;
	border-bottom: 2px solid $secondary !important;
	&:hover {
    border-bottom: 2px solid $secondary !important;
	}
}
.bp-menu-list a:hover {
	color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}

.bp-menu-list li:not(:first-child) a {
    border-top: 0px;
    border-bottom: 1px solid #767676;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $secondary;
	    &:hover{
	      background-color: darken($secondary,10%) !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	background-color: $primary;
	.col {
		border-left:1px solid darken($primary,10%);
		@include touch(){
			border-top:1px solid darken($primary,10%);
		}
		&:hover{
			background-color: darken($primary,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $secondary;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }

  .navbar-item{
    .sub-link.is-active{
      color:$secondary;
    }

    .selector{
      &.active{
        background-color:$secondary;
      }
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $secondary;
      }
    }
  }
.navbar-item:hover {
  a {
    color:$secondary;
  }
  .selector {
      background-color:$secondary;
    }
  }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $secondary;
		strong {
			color: $secondary;
		}
	}
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
		color: $secondary;
	}
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

.navbar-item img {
  width: 150px;
}

// Makes TOC made through Kramdown black
#markdown-toc{
  strong {
    color: #484848 !important;
  }
  // Hover turns text organge
  li strong:hover{
    color: $secondary-hover !important;
  }
  a {
    text-decoration: none;
  }
}

// To make images appear on top before text
// When the image is on the right on desktop
@media only screen and (min-width: 769px) {
  .reverse-row-order{
    flex-direction:row-reverse;
  }
}
// css for Life in sentosa
.container {
    width: 100%;
    height: 100%;
    position: absolute;
} 
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  background-color: #f48123;
  grid-column-gap: 0.333%;
//   grid-row-gap: 0.5%;
}
.grid-item {
  background-color: #f48123;
//   border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: justify;
  display: inline;
  word-wrap: break-word;
  overflow: hidden;
//  overflow-y: scroll;
  float: left;
}
img.grid-image-1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-2 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-3 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  overflow: hidden;
}
image-text-container {
  position: relative;
}
span.image-text-1 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
span.image-text-2 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
span.image-text-3 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
.col.is-4:hover img.grid-image-1 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover img.grid-image-2 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover img.grid-image-3 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover span.image-text-1 {
  visibility: visible;
  opacity: 1;
}
.col.is-4:hover span.image-text-2 {
  visibility: visible;
  opacity: 1;
}
.col.is-4:hover span.image-text-3 {
  visibility: visible;
  opacity: 1;
}
.grid-container-our-thoughts {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  background-color: #FFFFFF;
//   background-color: #f48123;
  grid-column-gap: 0.333%;

}
.grid-item-our-thoughts {
  background-color: #f48123;
//   border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: justify;
  display: inline;
  word-wrap: break-word;
  overflow: hidden;
//  overflow-y: scroll;
  float: left;
  height: 100%
}
//
// css for Meet the teams
.grid-container-mmt {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 50% 50%;
  background-color: #f48123;
//   grid-column-gap: 0.333%;
//   grid-row-gap: 0.5%;
}
img.grid-image-mmt-1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-2 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-3 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-4 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-5 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-6 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
image-text-container-mmt {
  position: relative;
}
span.image-text-mmt-1 {
       position: absolute;
       top: 54%;
       left: 28%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-2 {
       position: absolute;
       top: 54%;
       left: 50%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-3 {
       position: absolute;
       top: 54%;
       right: 7%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-4 {
       position: absolute;
       top: 72.5%;
       left: 28%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-5 {
       position: absolute;
       top: 72.5%;
       left: 50%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-6 {
       position: absolute;
       top: 72.5%;
       right: 7%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
.image-text-container-mmt:hover img.grid-image-mmt-1 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-2 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-3 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-4 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-5 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-6 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover span.image-text-mmt-1 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-2 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-3 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-4 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-5 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-6 {
  visibility: visible;
  opacity: 1;
}
.hero-banner-parent {
  position: relative;
  overflow: hidden;
  background-image:url("https://raw.githubusercontent.com/isomerpages/isomerpages-sentosa/staging/images/careers/hero-banner.jpg");
  z-index: -1;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  margin-bottom: -10%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.wave-space {
  position: absolute;
  width:  80%;
  height: 100%;
  bottom:0;
  left:0;
}
.wave {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 15%;
  background-attachment: scroll;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjM2MHB4%0D%0AIiBoZWlnaHQ9IjU1cHgiIHZpZXdCb3g9IjAgMCAzNjAgNTUiIHZlcnNpb249IjEuMSIgeG1sbnM9%0D%0AImh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5v%0D%0AcmcvMTk5OS94bGluayI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA1NC4xICg3NjQ5MCkg%0D%0ALSBodHRwczovL3NrZXRjaGFwcC5jb20gLS0+DQogICAgPHRpdGxlPk1hc2s8L3RpdGxlPg0KICAg%0D%0AIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPg0KICAgIDxnIGlkPSJTcHJpbnRzIiBz%0D%0AdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVu%0D%0Ab2RkIj4NCiAgICAgICAgPGcgaWQ9IlBEUC1EZWZhdWx0LS0tTXVsdGlwbGUtQWN0aXZpdGllcy0t%0D%0ALUZ1dHVyZS1TdGF0ZS0tLU0tLS0xLjEtLVJldmlzZWQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAu%0D%0AMDAwMDAwLCAtMjE5LjAwMDAwMCkiIGZpbGw9IiNGN0Y3RjciPg0KICAgICAgICAgICAgPGcgaWQ9%0D%0AIkdyb3VwLTI0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgNTYuMDAwMDAwKSI+DQog%0D%0AICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiPg0KICAgICAgICAgICAgICAgICAgICA8ZyBp%0D%0AZD0iaGVhZGVyLXdhdmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMDAwMDAwLCAxNjMuMDAwMDAw%0D%0AKSI+DQogICAgICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iTWFzayIgdHJhbnNmb3JtPSJ0cmFu%0D%0Ac2xhdGUoLTAuMDAwMDAwLCAwLjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAg%0D%0AIDxwYXRoIGQ9Ik0wLjAwMDE1ODEyNTkxNSwyMy4xNzA3MTQzIEMwLjQzMDc4NzcwMSwyMy4xNzA3%0D%0AMTQzIDAuODM4NzUyNTYyLDIzLjE2MzM4MSAxLjI1MTQ2MTIsMjMuMTU4MTQyOSBDMS41MjE4NTY1%0D%0AMiwyMy4xNTQ0NzYyIDEuNzk3NTIyNjksMjMuMTUxODU3MSAyLjA2MDUzODgsMjMuMTQ1NTcxNCBD%0D%0AMi41MjU5NTYwOCwyMy4xMzUwOTUyIDIuOTc5MjUwMzcsMjMuMTIwNDI4NiAzLjQyMjAwMjkzLDIz%0D%0ALjEwMjYxOSBDMy42Nzc2Mzk4MiwyMy4wOTI2NjY3IDMuOTIzMjYyMDgsMjMuMDc5MDQ3NiA0LjE3%0D%0AMTUxOTc3LDIzLjA2NjQ3NjIgQzQuOTEzNjU3MzksMjMuMDI4NzYxOSA1LjYyNTIyNDAxLDIyLjk4%0D%0AMjE0MjkgNi4zMDgzMjc5NiwyMi45MjU1NzE0IEM2LjUyNjU0MTczLDIyLjkwNzIzODEgNi43NDg0%0D%0ANDUxLDIyLjg5MDQ3NjIgNi45NjEzODc5OSwyMi44NzA1NzE0IEM3LjM1NTY0ODYxLDIyLjgzMzM4%0D%0AMSA3Ljc0MDQyMTY3LDIyLjc5MzU3MTQgOC4xMTYyMzQyNiwyMi43NTExNDI5IEM4LjMwMjI5NTc1%0D%0ALDIyLjcyOTY2NjcgOC40ODI1NTkzLDIyLjcwNjYxOSA4LjY2NDQwNDEsMjIuNjgzNTcxNCBDOS4z%0D%0ANDA2NTU5MywyMi41OTk3NjE5IDkuOTkwMDI2MzUsMjIuNTA3MDQ3NiAxMC42MTMwNDI1LDIyLjQw%0D%0ANTQyODYgQzEwLjc1MTEzOTEsMjIuMzgyOTA0OCAxMC44OTE4NzEyLDIyLjM2MTQyODYgMTEuMDI3%0D%0AMzMyNCwyMi4zMzc4NTcxIEMxMS4zODczMzI0LDIyLjI3NjA0NzYgMTEuNzM5NDI2MSwyMi4yMTIx%0D%0ANDI5IDEyLjA4NDE0MDYsMjIuMTQ1MDk1MiBDMTIuMTgwMDcwMywyMi4xMjYyMzgxIDEyLjI3Mzg5%0D%0AMTcsMjIuMTA2MzMzMyAxMi4zNjg3NjcyLDIyLjA4NzQ3NjIgQzEzLjA4NTA3NzYsMjEuOTQzNDI4%0D%0ANiAxMy43NzM5Nzk1LDIxLjc4OTk1MjQgMTQuNDM2NTI3MSwyMS42MjY1MjM4IEMxNC40NDI4NTIx%0D%0ALDIxLjYyNDk1MjQgMTQuNDQ5NzA0MiwyMS42MjMzODEgMTQuNDU2MDI5MywyMS42MjE4MDk1IEMx%0D%0ANS41MjEyNzA5LDIxLjM1ODMzMzMgMTYuNTI2OTUxNywyMS4wNzIzMzMzIDE3LjUwNzg1OTQsMjAu%0D%0ANzc0Mjg1NyBDMTcuNTY5NTI4NiwyMC43NTU0Mjg2IDE3LjYzMTcyNDcsMjAuNzM2NTcxNCAxNy42%0D%0AOTI4NjY4LDIwLjcxNzE5MDUgQzE4LjY3MTEzOTEsMjAuNDE3MDQ3NiAxOS42MjYyMTk2LDIwLjEw%0D%0ANDMzMzMgMjAuNTkwMjYwNiwxOS43ODkgQzI2LjI5OTEzMzIsMTcuOTE4NDc2MiAzMi43NjkxMTg2%0D%0ALDE1Ljc5OTE0MjkgNDQuOTk2OTk1NiwxNS43OTkxNDI5IEM1Ny4yMjUzOTk3LDE1Ljc5OTE0Mjkg%0D%0ANjMuNjk1OTEyMiwxNy45MTg0NzYyIDY5LjQwNTMxMTksMTkuNzg5IEM3MC4zNjcyNDQ1LDIwLjEw%0D%0ANDMzMzMgNzEuMzIwMjE2NywyMC40MTU0NzYyIDcyLjI5NTg1MzYsMjAuNzE1NjE5IEM3Mi4zNjIy%0D%0ANjY1LDIwLjczNjA0NzYgNzIuNDI4Njc5NCwyMC43NTU5NTI0IDcyLjQ5NTA5MjIsMjAuNzc2Mzgx%0D%0AIEM3My40NzMzNjQ2LDIxLjA3MzkwNDggNzQuNDc1ODgyOSwyMS4zNTg4NTcxIDc1LjUzODQ4OSwy%0D%0AMS42MjEyODU3IEM3NS41NDY5MjI0LDIxLjYyMzM4MSA3NS41NTUzNTU4LDIxLjYyNTQ3NjIgNzUu%0D%0ANTYzNzg5MiwyMS42Mjc1NzE0IEM3Ni4yMjU4MDk3LDIxLjc5MDQ3NjIgNzYuOTE0MTg0NSwyMS45%0D%0ANDM5NTI0IDc3LjYyOTQ0MDcsMjIuMDg4IEM3Ny43MjM3ODkyLDIyLjEwNjg1NzEgNzcuODE2MDI5%0D%0AMywyMi4xMjYyMzgxIDc3LjkxMDkwNDgsMjIuMTQ1MDk1MiBDNzguMjU2MTQ2NCwyMi4yMTIxNDI5%0D%0AIDc4LjYwOTI5NDMsMjIuMjc2NTcxNCA3OC45NjkyOTQzLDIyLjMzODM4MSBDNzkuMTA0MjI4NCwy%0D%0AMi4zNjE0Mjg2IDc5LjI0NDQzMzQsMjIuMzgyOTA0OCA3OS4zODIwMDI5LDIyLjQwNTQyODYgQzgw%0D%0ALjAwNTU0NjEsMjIuNTA3MDQ3NiA4MC42NTU5NzA3LDIyLjU5OTc2MTkgODEuMzMyNzQ5NiwyMi42%0D%0AODM1NzE0IEM4MS41MTQwNjczLDIyLjcwNjYxOSA4MS42OTM4MDM4LDIyLjcyOTY2NjcgODEuODc5%0D%0AODY1MywyMi43NTExNDI5IEM4Mi4yNTU2Nzc5LDIyLjc5MzU3MTQgODIuNjQwNDUxLDIyLjgzMzM4%0D%0AMSA4My4wMzQxODQ1LDIyLjg3MDU3MTQgQzgzLjI0ODE4MTYsMjIuODkwNDc2MiA4My40NzExMzkx%0D%0ALDIyLjkwNzc2MTkgODMuNjkwNDA3LDIyLjkyNTU3MTQgQzg0LjM3NDAzODEsMjIuOTgyNjY2NyA4%0D%0ANS4wODY2NTg5LDIzLjAyOTI4NTcgODUuODI5MzIzNiwyMy4wNjcgQzg2LjA3NTQ3MjksMjMuMDc5%0D%0AMDQ3NiA4Ni4zMTg5ODY4LDIzLjA5MjY2NjcgODYuNTcxOTg4MywyMy4xMDI2MTkgQzg3LjAxNTc5%0D%0ANSwyMy4xMjA0Mjg2IDg3LjQ3MTE5NzcsMjMuMTM1MDk1MiA4Ny45MzgxOTYyLDIzLjE0NTU3MTQg%0D%0AQzg4LjE5OTYzMSwyMy4xNTE4NTcxIDg4LjQ3MzE4ODksMjMuMTU0NDc2MiA4OC43NDIwMDI5LDIz%0D%0ALjE1ODE0MjkgQzg5LjE1NTc2NTcsMjMuMTYzMzgxIDg5LjU2NTMxMTksMjMuMTcwNzE0MyA4OS45%0D%0AOTY5OTU2LDIzLjE3MDcxNDMgQzkwLjQyODY3OTQsMjMuMTcwNzE0MyA5MC44MzgyMjU1LDIzLjE2%0D%0AMzM4MSA5MS4yNTE5ODgzLDIzLjE1ODE0MjkgQzkxLjUyMDgwMjMsMjMuMTU0NDc2MiA5MS43OTQz%0D%0ANjAyLDIzLjE1MTg1NzEgOTIuMDU1Nzk1LDIzLjE0NTU3MTQgQzkyLjUyMjc5MzYsMjMuMTM1MDk1%0D%0AMiA5Mi45Nzc2NjkxLDIzLjEyMDQyODYgOTMuNDIyMDAyOSwyMy4xMDI2MTkgQzkzLjY3NTAwNDQs%0D%0AMjMuMDkyNjY2NyA5My45MTg1MTgzLDIzLjA3OTA0NzYgOTQuMTY0MTQwNiwyMy4wNjcgQzk0Ljkw%0D%0ANzMzMjQsMjMuMDI4NzYxOSA5NS42MjA0ODAyLDIyLjk4MjE0MjkgOTYuMzAzNTg0MiwyMi45MjU1%0D%0ANzE0IEM5Ni41MjI4NTIxLDIyLjkwNzIzODEgOTYuNzQ1ODA5NywyMi44OTA0NzYyIDk2Ljk1OTI3%0D%0AOTYsMjIuODcwNTcxNCBDOTcuMzUzNTQwMywyMi44MzMzODEgOTcuNzM4MzEzMywyMi43OTM1NzE0%0D%0AIDk4LjExNDEyNTksMjIuNzUxMTQyOSBDOTguMjk5NjYwMywyMi43Mjk2NjY3IDk4LjQ3OTM5Njgs%0D%0AMjIuNzA2NjE5IDk4LjY2MTI0MTYsMjIuNjg0MDk1MiBDOTkuMzM4NTQ3NiwyMi41OTk3NjE5IDk5%0D%0ALjk4OTQ5OTMsMjIuNTA3MDQ3NiAxMDAuNjEzNTcsMjIuNDA0OTA0OCBDMTAwLjc1MDA4NSwyMi4z%0D%0AODI5MDQ4IDEwMC44ODk3NjMsMjIuMzYxNDI4NiAxMDEuMDIzNjQzLDIyLjMzODM4MSBDMTAxLjM4%0D%0ANDY5NywyMi4yNzY1NzE0IDEwMS43MzgzNzIsMjIuMjEyMTQyOSAxMDIuMDgzNjEzLDIyLjE0NDU3%0D%0AMTQgQzEwMi4xNzc0MzUsMjIuMTI2NzYxOSAxMDIuMjY4MDk0LDIyLjEwNzM4MSAxMDIuMzYwMzM0%0D%0ALDIyLjA4OTA0NzYgQzEwMy4wNzk4MDcsMjEuOTQzOTUyNCAxMDMuNzcxODcxLDIxLjc4OTk1MjQg%0D%0AMTA0LjQzNzU4MSwyMS42MjYgQzEwNC40NDIzMjUsMjEuNjI0NDI4NiAxMDQuNDQ4MTIzLDIxLjYy%0D%0AMzM4MSAxMDQuNDUyODY3LDIxLjYyMTgwOTUgQzEwNS41MTcwNTQsMjEuMzU4ODU3MSAxMDYuNTIx%0D%0ANjgxLDIxLjA3MzM4MSAxMDcuNTAxNTM0LDIwLjc3NTMzMzMgQzEwNy41NjYzNjYsMjAuNzU1OTUy%0D%0ANCAxMDcuNjMxNzI1LDIwLjczNjA0NzYgMTA3LjY5NjU1NiwyMC43MTU2MTkgQzEwOC42NzI3Miwy%0D%0AMC40MTYgMTA5LjYyNjIyLDIwLjEwNDMzMzMgMTEwLjU4ODY3OSwxOS43ODkgQzExNi4yOTc1NTIs%0D%0AMTcuOTE4NDc2MiAxMjIuNzY4MDY0LDE1Ljc5OTE0MjkgMTM0Ljk5NjQ2OSwxNS43OTkxNDI5IEMx%0D%0ANDcuMjI0MzQ2LDE1Ljc5OTE0MjkgMTUzLjY5NDg1OCwxNy45MTg0NzYyIDE1OS40MDM3MzEsMTku%0D%0ANzg5IEMxNjAuMzY1NjYzLDIwLjEwNDMzMzMgMTYxLjMxODYzNSwyMC40MTU0NzYyIDE2Mi4yOTQy%0D%0ANzIsMjAuNzE1NjE5IEMxNjIuMzYwMTU4LDIwLjczNjA0NzYgMTYyLjQyNzA5OCwyMC43NTU5NTI0%0D%0AIDE2Mi40OTM1MTEsMjAuNzc2MzgxIEMxNjMuNDcxNzgzLDIxLjA3MzkwNDggMTY0LjQ3NDgyOSwy%0D%0AMS4zNTg4NTcxIDE2NS41Mzc0MzUsMjEuNjIxMjg1NyBMMTY1LjU2MjczNSwyMS42Mjc1NzE0IEMx%0D%0ANjYuMjI0NzU1LDIxLjc5MDQ3NjIgMTY2LjkxMjYwMywyMS45NDM5NTI0IDE2Ny42MjgzODcsMjIu%0D%0AMDg4IEMxNjcuNzIyMjA4LDIyLjEwNjg1NzEgMTY3LjgxNDQ0OCwyMi4xMjYyMzgxIDE2Ny45MDk4%0D%0ANTEsMjIuMTQ1MDk1MiBDMTY4LjI1NTA5MiwyMi4yMTIxNDI5IDE2OC42MDc3MTMsMjIuMjc2NTcx%0D%0ANCAxNjguOTY4MjQsMjIuMzM4MzgxIEMxNjkuMTAzMTc0LDIyLjM2MTQyODYgMTY5LjI0MzkwNiwy%0D%0AMi4zODI5MDQ4IDE2OS4zODE0NzYsMjIuNDA1NDI4NiBDMTcwLjAwNDQ5MiwyMi41MDcwNDc2IDE3%0D%0AMC42NTMzMzUsMjIuNTk5NzYxOSAxNzEuMzI5NTg3LDIyLjY4MzU3MTQgQzE3MS41MTE5NTksMjIu%0D%0ANzA2MDk1MiAxNzEuNjkyMjIzLDIyLjcyOTY2NjcgMTcxLjg3OTMzOCwyMi43NTExNDI5IEMxNzIu%0D%0AMjU0NjI0LDIyLjc5MzU3MTQgMTcyLjYzOTM5NywyMi44MzMzODEgMTczLjAzMzEzLDIyLjg3MDU3%0D%0AMTQgQzE3My4yNDcxMjcsMjIuODkwNDc2MiAxNzMuNDcwMDg1LDIyLjkwNzIzODEgMTczLjY4OTM1%0D%0AMywyMi45MjU1NzE0IEMxNzQuMzcyOTg0LDIyLjk4MjY2NjcgMTc1LjA4NTA3OCwyMy4wMjkyODU3%0D%0AIDE3NS44Mjc3NDIsMjMuMDY3IEMxNzYuMDczODkyLDIzLjA3OTA0NzYgMTc2LjMxNzkzMywyMy4w%0D%0AOTI2NjY3IDE3Ni41NzA0MDcsMjMuMTAyNjE5IEMxNzcuMDE0NzQxLDIzLjEyMDQyODYgMTc3LjQ3%0D%0AMDE0MywyMy4xMzUwOTUyIDE3Ny45MzY2MTUsMjMuMTQ1NTcxNCBDMTc4LjE5ODU3NywyMy4xNTE4%0D%0ANTcxIDE3OC40NzIxMzUsMjMuMTU0NDc2MiAxNzguNzQwOTQ5LDIzLjE1ODE0MjkgQzE3OS4xNTQ3%0D%0AMTIsMjMuMTYzMzgxIDE3OS41NjM3MzEsMjMuMTcwNzE0MyAxNzkuOTk1OTQxLDIzLjE3MDcxNDMg%0D%0AQzE4MC40Mjc2MjUsMjMuMTcwNzE0MyAxODAuODM2NjQ0LDIzLjE2MzM4MSAxODEuMjUwNDA3LDIz%0D%0ALjE1ODE0MjkgQzE4MS41MTk3NDgsMjMuMTU0NDc2MiAxODEuNzkyNzc5LDIzLjE1MTg1NzEgMTgy%0D%0ALjA1NDc0MSwyMy4xNDU1NzE0IEMxODIuNTIxNzM5LDIzLjEzNTA5NTIgMTgyLjk3NjYxNSwyMy4x%0D%0AMjA0Mjg2IDE4My40MjA5NDksMjMuMTAyNjE5IEMxODMuNjczOTUsMjMuMDkyNjY2NyAxODMuOTE3%0D%0ANDY0LDIzLjA3OTA0NzYgMTg0LjE2MzA4NiwyMy4wNjcgQzE4NC45MDU3NTEsMjMuMDI5Mjg1NyAx%0D%0AODUuNjE4MzcyLDIyLjk4MjY2NjcgMTg2LjMwMjAwMywyMi45MjU1NzE0IEMxODYuNTIxNzk4LDIy%0D%0ALjkwNzIzODEgMTg2Ljc0NDc1NSwyMi44OTA0NzYyIDE4Ni45NTg3NTMsMjIuODcwNTcxNCBDMTg3%0D%0ALjM1MjQ4NiwyMi44MzMzODEgMTg3LjczNjczMiwyMi43OTM1NzE0IDE4OC4xMTI1NDUsMjIuNzUx%0D%0AMTQyOSBDMTg4LjI5OTEzMywyMi43Mjk2NjY3IDE4OC40NzkzOTcsMjIuNzA2NjE5IDE4OC42NjE3%0D%0ANjksMjIuNjgzNTcxNCBDMTg5LjMzNjk2NiwyMi41OTk3NjE5IDE4OS45ODU4MSwyMi41MDcwNDc2%0D%0AIDE5MC42MDg4MjYsMjIuNDA1OTUyNCBDMTkwLjc0NjkyMiwyMi4zODI5MDQ4IDE5MC44ODgxODIs%0D%0AMjIuMzYxNDI4NiAxOTEuMDI0MTcsMjIuMzM3ODU3MSBDMTkxLjM4MzY0MywyMi4yNzY1NzE0IDE5%0D%0AMS43MzYyNjQsMjIuMjEyMTQyOSAxOTIuMDc5OTI0LDIyLjE0NTA5NTIgQzE5Mi4xNzc0MzUsMjIu%0D%0AMTI2MjM4MSAxOTIuMjcxNzgzLDIyLjEwNjMzMzMgMTkyLjM2NzcxMywyMi4wODY5NTI0IEMxOTMu%0D%0AMDgwMzM0LDIxLjk0MzQyODYgMTkzLjc2NjA3MywyMS43OTEgMTk0LjQyNTQ1OCwyMS42Mjg2MTkg%0D%0AQzE5NC40MzQ5NDYsMjEuNjI2IDE5NC40NDU0ODgsMjEuNjIzMzgxIDE5NC40NTU1MDIsMjEuNjIx%0D%0AMjg1NyBDMTk1LjUxNTQ3MywyMS4zNTkzODEgMTk2LjUxNTg4MywyMS4wNzQ5NTI0IDE5Ny40OTIw%0D%0ANDcsMjAuNzc3OTUyNCBDMTk3LjU2MjE0OSwyMC43NTY0NzYyIDE5Ny42MzI3NzksMjAuNzM1NTIz%0D%0AOCAxOTcuNzAyODgxLDIwLjcxMzUyMzggQzE5OC42NzY5MzcsMjAuNDE0NDI4NiAxOTkuNjI3ODAx%0D%0ALDIwLjEwMzgwOTUgMjAwLjU4ODE1MiwxOS43ODkgQzIwNi4yOTY0OTgsMTcuOTE4NDc2MiAyMTIu%0D%0ANzY2NDgzLDE1Ljc5OTE0MjkgMjI0Ljk5NDg4NywxNS43OTkxNDI5IEMyMzcuMjIzMjkxLDE1Ljc5%0D%0AOTE0MjkgMjQzLjY5MzgwNCwxNy45MTg0NzYyIDI0OS40MDI2NzYsMTkuNzg5IEMyNTAuMzY0NjA5%0D%0ALDIwLjEwNDMzMzMgMjUxLjMxNzA1NCwyMC40MTU0NzYyIDI1Mi4yOTI2OTEsMjAuNzE1NjE5IEMy%0D%0ANTIuMzU5MTA0LDIwLjczNjA0NzYgMjUyLjQyNTUxNywyMC43NTU5NTI0IDI1Mi40OTE5MywyMC43%0D%0ANzYzODEgQzI1My40NzA3MjksMjEuMDczOTA0OCAyNTQuNDczNzc1LDIxLjM1ODg1NzEgMjU1LjUz%0D%0ANjkwOCwyMS42MjEyODU3IEMyNTUuNTQ0ODE0LDIxLjYyMzM4MSAyNTUuNTUyNzIsMjEuNjI1NDc2%0D%0AMiAyNTUuNTYwNjI3LDIxLjYyNzU3MTQgQzI1Ni4yMjIxMiwyMS43ODk5NTI0IDI1Ni45MTA0OTUs%0D%0AMjEuOTQzNDI4NiAyNTcuNjI1MjI0LDIyLjA4NzQ3NjIgQzI1Ny43MjAxLDIyLjEwNjMzMzMgMjU3%0D%0ALjgxMzM5NCwyMi4xMjYyMzgxIDI1Ny45MDkzMjQsMjIuMTQ1MDk1MiBDMjU4LjI1Mjk4NCwyMi4y%0D%0AMTE2MTkgMjU4LjYwNDU1MSwyMi4yNzYwNDc2IDI1OC45NjM0OTYsMjIuMzM3MzMzMyBDMjU5LjEw%0D%0ANDIyOCwyMi4zNjE5NTI0IDI1OS4yNTAyMzEsMjIuMzgzOTUyNCAyNTkuMzkzNTk5LDIyLjQwNzUy%0D%0AMzggQzI2MC4wMDc2NTQsMjIuNTA3MDQ3NiAyNjAuNjQ1OTU2LDIyLjU5ODcxNDMgMjYxLjMxMDYx%0D%0AMiwyMi42ODA5NTI0IEMyNjEuNTAwMzYzLDIyLjcwNTA0NzYgMjYxLjY4ODAwNiwyMi43MjkxNDI5%0D%0AIDI2MS44ODE0NDcsMjIuNzUxMTQyOSBDMjYyLjI1NDA5NywyMi43OTM1NzE0IDI2Mi42MzUxOCwy%0D%0AMi44MzI4NTcxIDI2My4wMjUyMjQsMjIuODY5NTIzOCBDMjYzLjI0NzEyNywyMi44OTA0NzYyIDI2%0D%0AMy40Nzc5OTEsMjIuOTA4Mjg1NyAyNjMuNzA1NjkzLDIyLjkyNzE0MjkgQzI2NC4zNzYxNDYsMjIu%0D%0AOTgyNjY2NyAyNjUuMDc0NTM2LDIzLjAyODc2MTkgMjY1LjgwMjQ0MiwyMy4wNjU0Mjg2IEMyNjYu%0D%0AMDU3NTUyLDIzLjA3ODUyMzggMjY2LjMxMTA4MSwyMy4wOTIxNDI5IDI2Ni41NzQwOTcsMjMuMTAy%0D%0ANjE5IEMyNjcuMDEzMTYsMjMuMTIwNDI4NiAyNjcuNDYzMjkxLDIzLjEzNDU3MTQgMjY3LjkyNDQ5%0D%0AMiwyMy4xNDUwNDc2IEMyNjguMTk4MDUsMjMuMTUxODU3MSAyNjguNDgzNzMxLDIzLjE1NDQ3NjIg%0D%0AMjY4Ljc2NTcyMiwyMy4xNTgxNDI5IEMyNjkuMTcxNTc4LDIzLjE2MzM4MSAyNjkuNTcyMTY0LDIz%0D%0ALjE3MDcxNDMgMjY5Ljk5NTQxNCwyMy4xNzA3MTQzIEMyNzAuNDE4MTM4LDIzLjE3MDcxNDMgMjcw%0D%0ALjgxODE5NiwyMy4xNjMzODEgMjcxLjIyMjk5OSwyMy4xNTgxNDI5IEMyNzEuNTA0OTksMjMuMTU0%0D%0ANDc2MiAyNzEuNzkxMTk4LDIzLjE1MTg1NzEgMjcyLjA2NTI4MywyMy4xNDUwNDc2IEMyNzIuNTIy%0D%0ANzk0LDIzLjEzNDU3MTQgMjcyLjk2ODcwOSwyMy4xMjA0Mjg2IDI3My40MDQ2MDksMjMuMTAzMTQy%0D%0AOSBDMjczLjY4MTg1NywyMy4wOTIxNDI5IDI3My45NDk2MTYsMjMuMDc3NDc2MiAyNzQuMjE4OTU4%0D%0ALDIzLjA2Mzg1NzEgQzI3NC45MTIwNzYsMjMuMDI4MjM4MSAyNzUuNTc5MzY3LDIyLjk4NDc2MTkg%0D%0AMjc2LjIyMDgzMiwyMi45MzIzODEgQzI3Ni40Nzc1MjMsMjIuOTExNDI4NiAyNzYuNzM2ODQ5LDIy%0D%0ALjg5MSAyNzYuOTg1NjM0LDIyLjg2Nzk1MjQgQzI3Ny4zNTc3NTcsMjIuODMyMzMzMyAyNzcuNzIx%0D%0ANDQ3LDIyLjc5NDYxOSAyNzguMDc3MjMsMjIuNzU0ODA5NSBDMjc4LjMxMjMxLDIyLjcyODA5NTIg%0D%0AMjc4LjUzODk1OCwyMi42OTkyODU3IDI3OC43NjcxODYsMjIuNjcwNDc2MiBDMjc5LjM1Njk5Niwy%0D%0AMi41OTU1NzE0IDI3OS45MjY3NzYsMjIuNTE0MzgxIDI4MC40NzYsMjIuNDI2MzgxIEMyODAuNjcz%0D%0ANjU3LDIyLjM5NDk1MjQgMjgwLjg3Mzk1LDIyLjM2MzUyMzggMjgxLjA2NzM5MSwyMi4zMzA1MjM4%0D%0AIEMyODEuMzkzMTMsMjIuMjczOTUyNCAyODEuNzEzMDcyLDIyLjIxNTgwOTUgMjgyLjAyNTYzNCwy%0D%0AMi4xNTU1NzE0IEMyODIuMTk3NDY0LDIyLjEyMjA0NzYgMjgyLjM2NDU1MSwyMi4wODY5NTI0IDI4%0D%0AMi41MzIxNjQsMjIuMDUyMzgxIEMyODMuMTA0NTgsMjEuOTM1NTcxNCAyODMuNjU5MDc1LDIxLjgx%0D%0AMTk1MjQgMjg0LjE5NjE3NiwyMS42ODIwNDc2IEMyODQuMzA3OTE4LDIxLjY1NDgwOTUgMjg0LjQy%0D%0AMTI0MiwyMS42MjkxNDI5IDI4NC41MzE0MDMsMjEuNjAxOTA0OCBDMjg0Ljg1ODE5NiwyMS41MjA3%0D%0AMTQzIDI4NS4xODAyNDYsMjEuNDM2OTA0OCAyODUuNDk2NDk4LDIxLjM1MjA0NzYgQzI4NS41NDAy%0D%0ANDYsMjEuMzQwNTIzOCAyODUuNTgzNDY3LDIxLjMyNzk1MjQgMjg1LjYyNjY4OCwyMS4zMTY0Mjg2%0D%0AIEMyODYuMTgwNjU2LDIxLjE2NjA5NTIgMjg2LjcxOTg2NSwyMS4wMDk0NzYyIDI4Ny4yNTE2OTUs%0D%0AMjAuODQ5NzE0MyBDMjg3LjQ4NjI0OSwyMC43Nzk1MjM4IDI4Ny43MTk3NDgsMjAuNzA4Mjg1NyAy%0D%0AODcuOTUxNjY2LDIwLjYzNiBDMjg4LjgzODc1MywyMC4zNjEgMjg5LjcxMDU1MywyMC4wNzY1NzE0%0D%0AIDI5MC41ODg2NzksMTkuNzg5IEMyOTYuMjk1OTcxLDE3LjkxOSAzMDIuNzY1NDI5LDE1LjgwMDE5%0D%0AMDUgMzE0Ljk4ODAzNSwxNS43OTkxNDI5IEwzMTQuOTg4MDM1LDcuMTA1NDI3MzZlLTE1IEMzMTEu%0D%0AOTMxOTg4LDcuMTA1NDI3MzZlLTE1IDMwOS4yMzU0MTQsMC4xMzMwNDc2MTkgMzA2LjgxOTc3Nyww%0D%0ALjM2MDkwNDc2MiBDMzA1LjYxMjIyMywwLjQ3NDU3MTQyOSAzMDQuNDc1Mjk3LDAuNjEyODU3MTQz%0D%0AIDMwMy4zOTg0NiwwLjc2OTQ3NjE5IEMzMDEuNzgzOTk0LDEuMDA1NzE0MjkgMzAwLjMwNTUxNywx%0D%0ALjI4Mzg1NzE0IDI5OC45MzA4NzYsMS41OTA4MDk1MiBDMjk3LjA5ODE5NiwxLjk5OTM4MDk1IDI5%0D%0ANS40NDk0NywyLjQ1NzE5MDQ4IDI5My45MDY2ODgsMi45Mjc1NzE0MyBDMjkyLjc1MDI2MSwzLjI4%0D%0AMDA5NTI0IDI5MS42NTI4NjcsMy42Mzk5NTIzOCAyOTAuNTgyODgxLDMuOTkwMzgwOTUgQzI4OS42%0D%0AOTE1NzgsNC4yODIxNDI4NiAyODguODAxMzI5LDQuNTY3NjE5MDUgMjg3LjkwMDUzOSw0Ljg0NzMz%0D%0AMzMzIEMyODcuNDE5ODM2LDQuOTk2MDk1MjQgMjg2LjkzMzg2Miw1LjE0MjIzODEgMjg2LjQzODky%0D%0AOCw1LjI4NDcxNDI5IEMyODYuMjExNzU0LDUuMzQ5NjY2NjcgMjg1Ljk4MDg5LDUuNDE0MDk1MjQg%0D%0AMjg1Ljc0OTQ5OSw1LjQ3NzQ3NjE5IEMyODUuMTgwNzczLDUuNjMzNTcxNDMgMjg0LjU5NDY1Myw1%0D%0ALjc4MjMzMzMzIDI4My45OTI3Miw1LjkyNTMzMzMzIEMyODMuNzkxOSw1Ljk3MyAyODMuNTkyMTM1%0D%0ALDYuMDIxNzE0MjkgMjgzLjM4NjU3MSw2LjA2NzgwOTUyIEMyODIuNzA5MjY1LDYuMjE4NjY2Njcg%0D%0AMjgyLjAwMTkxNSw2LjM1ODUyMzgxIDI4MS4yNjUwNDgsNi40ODg5NTIzOCBDMjgxLjE0NDM0Niw2%0D%0ALjUxMDQyODU3IDI4MS4wMzk5ODIsNi41Mzc2NjY2NyAyODAuOTE3Njk4LDYuNTU4MDk1MjQgQzI3%0D%0ANy45NzIzNCw3LjA1NzI4NTcxIDI3NC40ODU2NjMsNy4zNzE1NzE0MyAyNjkuOTkzMzA2LDcuMzcy%0D%0AMDk1MjQgQzI2NS41MDA0MjIsNy4zNzE1NzE0MyAyNjIuMDEzNzQ1LDcuMDU3Mjg1NzEgMjU5LjA2%0D%0ANzg1OSw2LjU1ODA5NTI0IEMyNTguOTIzNDM4LDYuNTMzNDc2MTkgMjU4LjgwMDEsNi41MDIwNDc2%0D%0AMiAyNTguNjU4MzEzLDYuNDc2OTA0NzYgQzI1Ny45NTc4MTYsNi4zNTIyMzgxIDI1Ny4yODE1NjQs%0D%0ANi4yMTg2NjY2NyAyNTYuNjM1MzU2LDYuMDc0NjE5MDUgQzI1Ni4zOTU1MzEsNi4wMjExOTA0OCAy%0D%0ANTYuMTYyNTU5LDUuOTY0NjE5MDUgMjU1LjkyOTA2LDUuOTA5MDk1MjQgQzI1NS4zNzE5Myw1Ljc3%0D%0ANjA0NzYyIDI1NC44Mjc5NzcsNS42Mzc3NjE5IDI1NC4yOTkzMDksNS40OTM3MTQyOSBDMjU0LjAx%0D%0AODg5OSw1LjQxNjcxNDI5IDI1My43Mzg0ODksNS4zMzkxOTA0OCAyNTMuNDYzODc3LDUuMjYwMDk1%0D%0AMjQgQzI1My4wNDQ4NDMsNS4xMzg1NzE0MyAyNTIuNjMyNjYyLDUuMDE0OTUyMzggMjUyLjIyNDE3%0D%0ALDQuODg5MjM4MSBDMjUxLjI3NTQxNCw0LjU5NjQyODU3IDI1MC4zMzg3ODIsNC4yOTczMzMzMyAy%0D%0ANDkuNDAyNjc2LDMuOTkwMzgwOTUgQzI0OC4zMzIxNjQsMy42Mzk5NTIzOCAyNDcuMjM0NzcsMy4y%0D%0AODAwOTUyNCAyNDYuMDc3ODE2LDIuOTI3NTcxNDMgQzI0NC41MzU1NjEsMi40NTcxOTA0OCAyNDIu%0D%0AODg3MzYyLDEuOTk5MzgwOTUgMjQxLjA1NDE1NSwxLjU5MDgwOTUyIEMyMzkuNjc5NTE0LDEuMjgz%0D%0AODU3MTQgMjM4LjIwMTAzNywxLjAwNTcxNDI5IDIzNi41ODYwNDQsMC43Njk0NzYxOSBDMjM1LjUw%0D%0AOTczNCwwLjYxMjg1NzE0MyAyMzQuMzcyMjgxLDAuNDc0NTcxNDI5IDIzMy4xNjQ3MjYsMC4zNjA5%0D%0AMDQ3NjIgQzIzMC43NDkwODksMC4xMzMwNDc2MTkgMjI4LjA1MTk4OCw3LjEwNTQyNzM2ZS0xNSAy%0D%0AMjQuOTk0ODg3LDcuMTA1NDI3MzZlLTE1IEMyMjEuOTM3Nzg2LDcuMTA1NDI3MzZlLTE1IDIxOS4y%0D%0ANDA2ODUsMC4xMzMwNDc2MTkgMjE2LjgyNTA0OCwwLjM2MDkwNDc2MiBDMjE1LjYxNzQ5MywwLjQ3%0D%0ANDU3MTQyOSAyMTQuNDgwNTY4LDAuNjEyODU3MTQzIDIxMy40MDM3MzEsMC43Njk0NzYxOSBDMjEx%0D%0ALjc4OTI2NSwxLjAwNTcxNDI5IDIxMC4zMTAyNjEsMS4yODM4NTcxNCAyMDguOTM2MTQ2LDEuNTkw%0D%0AODA5NTIgQzIwNy4xMDI5NCwxLjk5OTM4MDk1IDIwNS40NTQ3NDEsMi40NTcxOTA0OCAyMDMuOTEx%0D%0AOTU5LDIuOTI3NTcxNDMgQzIwMi43NTUwMDQsMy4yODAwOTUyNCAyMDEuNjU4MTM4LDMuNjM5OTUy%0D%0AMzggMjAwLjU4ODE1MiwzLjk5MDM4MDk1IEMxOTkuNjUxNTIsNC4yOTczMzMzMyAxOTguNzE1NDE0%0D%0ALDQuNTk2NDI4NTcgMTk3Ljc2NzE4Niw0Ljg4ODcxNDI5IEMxOTcuMzU4MTY3LDUuMDE0OTUyMzgg%0D%0AMTk2Ljk0NTQ1OCw1LjEzODU3MTQzIDE5Ni41MjU4OTgsNS4yNjAwOTUyNCBDMTk2LjI1MTgxMyw1%0D%0ALjMzOTE5MDQ4IDE5NS45NzE5Myw1LjQxNjcxNDI5IDE5NS42OTA5OTMsNS40OTM3MTQyOSBDMTk1%0D%0ALjE2MjMyNSw1LjYzNzc2MTkgMTk0LjYxODM3Miw1Ljc3NjA0NzYyIDE5NC4wNjA3MTQsNS45MDkw%0D%0AOTUyNCBDMTkzLjgyNzc0Miw1Ljk2NDYxOTA1IDE5My41OTUyOTcsNi4wMjExOTA0OCAxOTMuMzU2%0D%0ALDYuMDc0MDk1MjQgQzE5Mi43MDkyNjUsNi4yMTg2NjY2NyAxOTIuMDMyNDg2LDYuMzUyMjM4MSAx%0D%0AOTEuMzMxNDYxLDYuNDc2OTA0NzYgQzE5MS4xOTAyMDIsNi41MDI1NzE0MyAxOTEuMDY2ODY0LDYu%0D%0ANTMzNDc2MTkgMTkwLjkyMjk2OSw2LjU1ODA5NTI0IEMxODcuOTc3MDgzLDcuMDU3Mjg1NzEgMTg0%0D%0ALjQ4OTg4LDcuMzcyMDk1MjQgMTc5Ljk5NTk0MSw3LjM3MjA5NTI0IEMxNzUuNTAyNTMsNy4zNzIw%0D%0AOTUyNCAxNzIuMDE0Nzk5LDcuMDU3Mjg1NzEgMTY5LjA2ODkxNCw2LjU1ODA5NTI0IEMxNjguOTI1%0D%0AMDE5LDYuNTMzNDc2MTkgMTY4LjgwMTE1NCw2LjUwMjU3MTQzIDE2OC42NTk4OTUsNi40NzY5MDQ3%0D%0ANiBDMTY3Ljk1OTM5Nyw2LjM1MjIzODEgMTY3LjI4MjYxOCw2LjIxODY2NjY3IDE2Ni42MzY0MSw2%0D%0ALjA3NDYxOTA1IEMxNjYuMzk2MDU5LDYuMDIxMTkwNDggMTY2LjE2MzYxMyw1Ljk2NDYxOTA1IDE2%0D%0ANS45Mjk1ODcsNS45MDkwOTUyNCBDMTY1LjM3Mjk4NCw1Ljc3NjA0NzYyIDE2NC44Mjk1NTgsNS42%0D%0AMzc3NjE5IDE2NC4zMDE5NDQsNS40OTM3MTQyOSBDMTY0LjAxOTk1Myw1LjQxNjcxNDI5IDE2My43%0D%0AMzg0ODksNS4zMzg2NjY2NyAxNjMuNDYyODIzLDUuMjU5MDQ3NjIgQzE2My4wNDU4OTgsNS4xMzg1%0D%0ANzE0MyAxNjIuNjM1Mjk3LDUuMDE1NDc2MTkgMTYyLjIyODM4Nyw0Ljg5MDI4NTcxIEMxNjEuMjc4%0D%0ANTc3LDQuNTk3NDc2MTkgMTYwLjM0MTQxNyw0LjI5Nzg1NzE0IDE1OS40MDM3MzEsMy45OTAzODA5%0D%0ANSBDMTU4LjMzMzc0NSwzLjYzOTk1MjM4IDE1Ny4yMzYzNTEsMy4yODAwOTUyNCAxNTYuMDc5Mzk3%0D%0ALDIuOTI3NTcxNDMgQzE1NC41MzY2MTUsMi40NTcxOTA0OCAxNTIuODg3ODg5LDEuOTk5MzgwOTUg%0D%0AMTUxLjA1NTIwOSwxLjU5MDgwOTUyIEMxNDkuNjgwNTY4LDEuMjgzODU3MTQgMTQ4LjIwMjA5MSwx%0D%0ALjAwNTcxNDI5IDE0Ni41ODcwOTgsMC43Njk0NzYxOSBDMTQ1LjUxMDI2MSwwLjYxMjg1NzE0MyAx%0D%0ANDQuMzczMzM1LDAuNDc0NTcxNDI5IDE0My4xNjU3OCwwLjM2MDkwNDc2MiBDMTQwLjc1MDE0Myww%0D%0ALjEzMzA0NzYxOSAxMzguMDUzMDQyLDcuMTA1NDI3MzZlLTE1IDEzNC45OTY0NjksNy4xMDU0Mjcz%0D%0ANmUtMTUgQzEzMS45Mzg4NCw3LjEwNTQyNzM2ZS0xNSAxMjkuMjQxNzM5LDAuMTMzMDQ3NjE5IDEy%0D%0ANi44MjYxMDIsMC4zNjA5MDQ3NjIgQzEyNS42MTg1NDgsMC40NzQ1NzE0MjkgMTI0LjQ4MTYyMiww%0D%0ALjYxMjg1NzE0MyAxMjMuNDA0Nzg1LDAuNzY5NDc2MTkgQzEyMS43ODk3OTIsMS4wMDU3MTQyOSAx%0D%0AMjAuMzExODQyLDEuMjgzODU3MTQgMTE4LjkzNzIwMSwxLjU5MDgwOTUyIEMxMTcuMTAzOTk0LDEu%0D%0AOTk5MzgwOTUgMTE1LjQ1NTc5NSwyLjQ1NzE5MDQ4IDExMy45MTMwMTMsMi45Mjc1NzE0MyBDMTEy%0D%0ALjc1NjA1OSwzLjI4MDA5NTI0IDExMS42NTg2NjUsMy42Mzk5NTIzOCAxMTAuNTg4Njc5LDMuOTkw%0D%0AMzgwOTUgQzEwOS42NTA5OTMsNC4yOTc4NTcxNCAxMDguNzEzMzA2LDQuNTk3NDc2MTkgMTA3Ljc2%0D%0AMjk2OSw0Ljg5MDI4NTcxIEMxMDcuMzU3MTEzLDUuMDE1NDc2MTkgMTA2Ljk0NzA0LDUuMTM4NTcx%0D%0ANDMgMTA2LjUzMDY0MSw1LjI1OTA0NzYyIEMxMDYuMjU0NDQ4LDUuMzM4NjY2NjcgMTA1Ljk3Mjk4%0D%0ANCw1LjQxNjcxNDI5IDEwNS42ODk5MzksNS40OTQyMzgxIEMxMDUuMTYyMzI1LDUuNjM3NzYxOSAx%0D%0AMDQuNjE5NDI2LDUuNzc2MDQ3NjIgMTA0LjA2MzM1LDUuOTA4NTcxNDMgQzEwMy44MjkzMjQsNS45%0D%0ANjQ2MTkwNSAxMDMuNTk2MzUxLDYuMDIxMTkwNDggMTAzLjM1NjUyNyw2LjA3NDYxOTA1IEMxMDIu%0D%0ANzA5MjY1LDYuMjE5MTkwNDggMTAyLjAzMTQzMiw2LjM1MjIzODEgMTAxLjMyOTg4LDYuNDc3NDI4%0D%0ANTcgQzEwMS4xODkxNDgsNi41MDI1NzE0MyAxMDEuMDY2ODY0LDYuNTM0IDEwMC45MjM0OTYsNi41%0D%0ANTgwOTUyNCBDOTcuOTc3NjEwNSw3LjA1NzI4NTcxIDk0LjQ5MDQwNyw3LjM3MjA5NTI0IDg5Ljk5%0D%0ANjk5NTYsNy4zNzIwOTUyNCBDODUuNTAzMDU3MSw3LjM3MjA5NTI0IDgyLjAxNjM4MDcsNy4wNTcy%0D%0AODU3MSA3OS4wNjk5Njc4LDYuNTU4MDk1MjQgQzc4LjkyNjA3MzIsNi41MzM0NzYxOSA3OC44MDI3%0D%0AMzUsNi41MDI1NzE0MyA3OC42NjA5NDg4LDYuNDc2OTA0NzYgQzc3Ljk2MDQ1MSw2LjM1MjIzODEg%0D%0ANzcuMjgzNjcyLDYuMjE4NjY2NjcgNzYuNjM3NDY0MSw2LjA3NDYxOTA1IEM3Ni4zOTc2Mzk4LDYu%0D%0AMDIxMTkwNDggNzYuMTY0NjY3Niw1Ljk2NDYxOTA1IDc1LjkzMTE2ODQsNS45MDkwOTUyNCBDNzUu%0D%0AMzc0MDM4MSw1Ljc3NjA0NzYyIDc0LjgzMDYxMiw1LjYzNzc2MTkgNzQuMzAxOTQ0NCw1LjQ5Mzcx%0D%0ANDI5IEM3NC4wMjEwMDczLDUuNDE2NzE0MjkgNzMuNzQwNTk3NCw1LjMzODY2NjY3IDczLjQ2NTQ1%0D%0AODMsNS4yNTk1NzE0MyBDNzMuMDQ3NDc4OCw1LjEzODU3MTQzIDcyLjYzNTgyNDMsNS4wMTQ5NTIz%0D%0AOCA3Mi4yMjc4NTk0LDQuODg5NzYxOSBDNzEuMjc4NTc2OSw0LjU5Njk1MjM4IDcwLjM0MTk0NDQs%0D%0ANC4yOTc4NTcxNCA2OS40MDUzMTE5LDMuOTkwMzgwOTUgQzY4LjMzNDc5OTQsMy42Mzk5NTIzOCA2%0D%0ANy4yMzc0MDU2LDMuMjgwMDk1MjQgNjYuMDgwNDUxLDIuOTI3NTcxNDMgQzY0LjUzNzY2OTEsMi40%0D%0ANTcxOTA0OCA2Mi44ODg5NDI5LDEuOTk5MzgwOTUgNjEuMDU2MjYzNSwxLjU5MDgwOTUyIEM1OS42%0D%0AODE2MjIzLDEuMjgzODU3MTQgNTguMjAzMTQ0OSwxLjAwNTcxNDI5IDU2LjU4ODY3OTQsMC43Njk0%0D%0ANzYxOSBDNTUuNTExODQxOSwwLjYxMjg1NzE0MyA1NC4zNzQ5MTY1LDAuNDc0NTcxNDI5IDUzLjE2%0D%0ANjgzNDYsMC4zNjA5MDQ3NjIgQzUwLjc1MTE5NzcsMC4xMzMwNDc2MTkgNDguMDU0MDk2Niw3LjEw%0D%0ANTQyNzM2ZS0xNSA0NC45OTY5OTU2LDcuMTA1NDI3MzZlLTE1IEM0MS45NDA0MjE3LDcuMTA1NDI3%0D%0AMzZlLTE1IDM5LjI0MzMyMDYsMC4xMzMwNDc2MTkgMzYuODI3NjgzNywwLjM2MDkwNDc2MiBDMzUu%0D%0ANjE5NjAxOCwwLjQ3NDU3MTQyOSAzNC40ODI2NzY0LDAuNjEyODU3MTQzIDMzLjQwNjM2NiwwLjc2%0D%0AOTQ3NjE5IEMzMS43OTEzNzM0LDEuMDA1NzE0MjkgMzAuMzEyODk2LDEuMjgzODU3MTQgMjguOTM4%0D%0AMjU0OCwxLjU5MDgwOTUyIEMyNy4xMDU1NzU0LDEuOTk5MzgwOTUgMjUuNDU2ODQ5MiwyLjQ1NzE5%0D%0AMDQ4IDIzLjkxNDU5NDQsMi45Mjc1NzE0MyBDMjIuNzU3NjM5OCwzLjI4MDA5NTI0IDIxLjY2MDc3%0D%0AMzEsMy42Mzk5NTIzOCAyMC41OTAyNjA2LDMuOTkwMzgwOTUgQzE5LjY1MzEwMSw0LjI5Nzg1NzE0%0D%0AIDE4LjcxNTk0MTQsNC41OTY5NTIzOCAxNy43NjY2NTg5LDQuODg5NzYxOSBDMTcuMzU5MjIxMSw1%0D%0ALjAxNTQ3NjE5IDE2Ljk0NzU2NjYsNS4xMzg1NzE0MyAxNi41Mjk1ODcxLDUuMjU5NTcxNDMgQzE2%0D%0ALjI1NDk3NTEsNS4zMzkxOTA0OCAxNS45NzQ1NjUyLDUuNDE2NzE0MjkgMTUuNjkzNjI4MSw1LjQ5%0D%0AMzcxNDI5IEMxNS4xNjQ5NjA1LDUuNjM3NzYxOSAxNC42MjEwMDczLDUuNzc2MDQ3NjIgMTQuMDYz%0D%0AMzQ5OSw1LjkwOTA5NTI0IEMxMy44MzAzNzc3LDUuOTY0NjE5MDUgMTMuNTk4NDU5Nyw2LjAyMTE5%0D%0AMDQ4IDEzLjM1OTY4OTYsNi4wNzQwOTUyNCBDMTIuNzExOTAwNCw2LjIxODY2NjY3IDEyLjAzMzU0%0D%0AMDMsNi4zNTIyMzgxIDExLjMzMTQ2MTIsNi40Nzc0Mjg1NyBDOC4yOTk2NjAzMiw3LjAxOCA0Ljcw%0D%0ANDkzMTE5LDcuMzY1Mjg1NzEgMC4wMDAxNTgxMjU5MTUsNy4zNjUyODU3MSBMMC4wMDAxNTgxMjU5%0D%0AMTUsMjMuMTcwNzE0MyBMMC4wMDAxNTgxMjU5MTUsMjMuMTcwNzE0MyBaIiBpZD0iRmlsbC00Ij48%0D%0AL3BhdGg+DQogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTMzOS40MDY3MzUs%0D%0AMzUuNjAwNDUyNCBDMzMzLjY5NzMzNSwzMy43Mjk5Mjg2IDMyNy4yMjczNSwzMS42MTA1OTUyIDMx%0D%0ANC45OTczNjUsMzEuNjEwNTk1MiBDMzAyLjc2ODQzMywzMS42MTA1OTUyIDI5Ni4yOTczOTQsMzMu%0D%0ANzI5OTI4NiAyOTAuNTg4NTIxLDM1LjYwMDQ1MjQgQzI4NS4yODA3NjEsMzcuMzM5NSAyODAuMjY3%0D%0AMTE2LDM4Ljk4MTY0MjkgMjY5Ljk5NTc4MywzOC45ODE2NDI5IEMyNTkuNzIzOTI0LDM4Ljk4MTY0%0D%0AMjkgMjU0LjcxMDI3OCwzNy4zMzk1IDI0OS40MDI1MTgsMzUuNjAwNDUyNCBDMjQzLjY5NDE3Mywz%0D%0AMy43Mjk5Mjg2IDIzNy4yMjM2NiwzMS42MTA1OTUyIDIyNC45OTUyNTYsMzEuNjEwNTk1MiBDMjEy%0D%0ALjc2NjMyNSwzMS42MTA1OTUyIDIwNi4yOTYzNCwzMy43Mjk5Mjg2IDIwMC41ODc5OTQsMzUuNjAw%0D%0ANDUyNCBDMTk1LjI4MDc2MSwzNy4zMzk1IDE5MC4yNjY1ODksMzguOTgxNjQyOSAxNzkuOTk1Nzgz%0D%0ALDM4Ljk4MTY0MjkgQzE2OS43MjQ0NTEsMzguOTgxNjQyOSAxNjQuNzExMzMyLDM3LjMzOTUgMTU5%0D%0ALjQwMzU3MiwzNS42MDA0NTI0IEMxNTMuNjk0NywzMy43Mjk5Mjg2IDE0Ny4yMjQ3MTQsMzEuNjEw%0D%0ANTk1MiAxMzQuOTk2MzEsMzEuNjEwNTk1MiBDMTIyLjc2NzkwNiwzMS42MTA1OTUyIDExNi4yOTcz%0D%0AOTQsMzMuNzI5OTI4NiAxMTAuNTg4NTIxLDM1LjYwMDQ1MjQgQzEwNS4yODEyODgsMzcuMzM5NSAx%0D%0AMDAuMjY4MTcsMzguOTgxNjQyOSA4OS45OTY4Mzc1LDM4Ljk4MTY0MjkgQzc5LjcyNTUwNTEsMzgu%0D%0AOTgxNjQyOSA3NC43MTI5MTM2LDM3LjMzOTUgNjkuNDA1MTUzNywzNS42MDA0NTI0IEM2My42OTYy%0D%0AODExLDMzLjcyOTkyODYgNTcuMjI1NzY4NywzMS42MTA1OTUyIDQ0Ljk5NjgzNzUsMzEuNjEwNTk1%0D%0AMiBDMzIuNzY4OTYwNSwzMS42MTA1OTUyIDI2LjI5ODk3NTEsMzMuNzI5OTI4NiAyMC41OTAxMDI1%0D%0ALDM1LjYwMDQ1MjQgQzE1LjI4Mjg2OTcsMzcuMzM5NSAxMC4yNzAyNzgyLDM4Ljk4MTY0MjkgLTEu%0D%0AMTM2ODY4MzhlLTEzLDM4Ljk4MTY0MjkgTC0xLjEzNjg2ODM4ZS0xMyw1NC43ODcwNzE0IEwtMS4x%0D%0AMzY4NjgzOGUtMTMsNTQuNzg3MDcxNCBDMTAuMjcwMjc4Miw1NC43ODcwNzE0IDE1LjI4MzM5Njgs%0D%0ANTMuMTQzODgxIDIwLjU5MDEwMjUsNTEuNDA1MzU3MSBDMjYuMjk4OTc1MSw0OS41MzQ4MzMzIDMy%0D%0ALjc2ODk2MDUsNDcuNDE1NSA0NC45OTY4Mzc1LDQ3LjQxNTUgQzU3LjIyNTc2ODcsNDcuNDE1NSA2%0D%0AMy42OTYyODExLDQ5LjUzNDgzMzMgNjkuNDA1MTUzNyw1MS40MDUzNTcxIEM3NC43MTI5MTM2LDUz%0D%0ALjE0Mzg4MSA3OS43MjU1MDUxLDU0Ljc4NzA3MTQgODkuOTk2ODM3NSw1NC43ODcwNzE0IEMxMDAu%0D%0AMjY4MTcsNTQuNzg3MDcxNCAxMDUuMjgxMjg4LDUzLjE0Mzg4MSAxMTAuNTg4NTIxLDUxLjQwNTM1%0D%0ANzEgQzExNi4yOTczOTQsNDkuNTM0ODMzMyAxMjIuNzY3OTA2LDQ3LjQxNTUgMTM0Ljk5NjMxLDQ3%0D%0ALjQxNTUgQzE0Ny4yMjQ3MTQsNDcuNDE1NSAxNTMuNjk0Nyw0OS41MzQ4MzMzIDE1OS40MDM1NzIs%0D%0ANTEuNDA1MzU3MSBDMTY0LjcxMTMzMiw1My4xNDM4ODEgMTY5LjcyNDQ1MSw1NC43ODcwNzE0IDE3%0D%0AOS45OTU3ODMsNTQuNzg3MDcxNCBDMTkwLjI2NjU4OSw1NC43ODcwNzE0IDE5NS4yODA3NjEsNTMu%0D%0AMTQzODgxIDIwMC41ODc5OTQsNTEuNDA1MzU3MSBDMjA2LjI5NjM0LDQ5LjUzNDgzMzMgMjEyLjc2%0D%0ANjMyNSw0Ny40MTU1IDIyNC45OTUyNTYsNDcuNDE1NSBDMjM3LjIyMzY2LDQ3LjQxNTUgMjQzLjY5%0D%0ANDE3Myw0OS41MzQ4MzMzIDI0OS40MDI1MTgsNTEuNDA1MzU3MSBDMjU0LjcxMDI3OCw1My4xNDM4%0D%0AODEgMjU5LjcyMzkyNCw1NC43ODcwNzE0IDI2OS45OTU3ODMsNTQuNzg3MDcxNCBDMjgwLjI2NzEx%0D%0ANiw1NC43ODcwNzE0IDI4NS4yODA3NjEsNTMuMTQzODgxIDI5MC41ODg1MjEsNTEuNDA1MzU3MSBD%0D%0AMjk2LjI5NzM5NCw0OS41MzQ4MzMzIDMwMi43Njg0MzMsNDcuNDE1NSAzMTQuOTk3MzY1LDQ3LjQx%0D%0ANTUgQzMyNy4yMjczNSw0Ny40MTU1IDMzMy42OTczMzUsNDkuNTM0ODMzMyAzMzkuNDA2NzM1LDUx%0D%0ALjQwNTM1NzEgQzM0NC43MTQ0OTUsNTMuMTQzODgxIDM0OS43Mjc2MTMsNTQuNzg3MDcxNCAzNjAs%0D%0ANTQuNzg3MDcxNCBMMzYwLDM4Ljk4MTY0MjkgQzM0OS43Mjc2MTMsMzguOTgxNjQyOSAzNDQuNzE0%0D%0ANDk1LDM3LjMzOTUgMzM5LjQwNjczNSwzNS42MDA0NTI0IiBpZD0iRmlsbC0xIj48L3BhdGg+DQog%0D%0AICAgICAgICAgICAgICAgICAgICAgICA8L2c+DQogICAgICAgICAgICAgICAgICAgIDwvZz4NCiAg%0D%0AICAgICAgICAgICAgICA8L2c+DQogICAgICAgICAgICA8L2c+DQogICAgICAgIDwvZz4NCiAgICA8%0D%0AL2c+DQo8L3N2Zz4=");
  z-index: 1;
  background-repeat: repeat-x;
}
