---

---
@charset "utf-8";
// HLB brand colors , original secondary:#BD5A0A;
$primary: #f48123;
$secondary: #f48123;
$secondary-hover: darken($secondary, 10%);

// based on navigation
$media-color-one: #FFFFFF; // for all
$media-color-two: #5C5CA5; // annual report
$media-color-three: #00878C; // news
$media-color-four: #37BCEB; // media advisory
$media-color-five: #F8A909; // event listing

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
	color: $secondary !important;
	border-bottom: 2px solid $secondary !important;
	&:hover {
    border-bottom: 2px solid $secondary !important;
	}
}
.bp-menu-list a:hover {
	color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}

.bp-menu-list li:not(:first-child) a {
    border-top: 0px;
    border-bottom: 1px solid #767676;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $secondary;
	    &:hover{
	      background-color: darken($secondary,10%) !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	background-color: $primary;
	.col {
		border-left:1px solid darken($primary,10%);
		@include touch(){
			border-top:1px solid darken($primary,10%);
		}
		&:hover{
			background-color: darken($primary,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $secondary;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }

  .navbar-item{
    .sub-link.is-active{
      color:$secondary;
    }

    .selector{
      &.active{
        background-color:$secondary;
      }
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $secondary;
      }
    }
  }
.navbar-item:hover {
  a {
    color:$secondary;
  }
  .selector {
      background-color:$secondary;
    }
  }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $secondary;
		strong {
			color: $secondary;
		}
	}
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
		color: $secondary;
	}
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

.navbar-item img {
  width: 150px;
}

// Makes TOC made through Kramdown black
#markdown-toc{
  strong {
    color: #484848 !important;
  }
  // Hover turns text organge
  li strong:hover{
    color: $secondary-hover !important;
  }
  a {
    text-decoration: none;
  }
}

// To make images appear on top before text
// When the image is on the right on desktop
@media only screen and (min-width: 769px) {
  .reverse-row-order{
    flex-direction:row-reverse;
  }
}
// css for Life in sentosa
.container {
    width: 100%;
    height: 100%;
    position: absolute;
} 
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  background-color: #f48123;
  grid-column-gap: 0.333%;
//   grid-row-gap: 0.5%;
}
.grid-item {
  background-color: #f48123;
//   border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: justify;
  display: inline;
  word-wrap: break-word;
  overflow: hidden;
//  overflow-y: scroll;
  float: left;
}
img.grid-image-1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-2 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-3 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  overflow: hidden;
}
image-text-container {
  position: relative;
}
span.image-text-1 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
span.image-text-2 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
span.image-text-3 {
       position: absolute;
       top: 60%;
       left: 60%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       font-size: 150%;
       text-decoration: underline;
       left: 0;
       right: 0;
       bottom: 0;
}
.col.is-4:hover img.grid-image-1 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover img.grid-image-2 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover img.grid-image-3 {
  visibility: visible;
  opacity: 0.2;
}
.col.is-4:hover span.image-text-1 {
  visibility: visible;
  opacity: 1;
}
.col.is-4:hover span.image-text-2 {
  visibility: visible;
  opacity: 1;
}
.col.is-4:hover span.image-text-3 {
  visibility: visible;
  opacity: 1;
}
.grid-container-our-thoughts {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  background-color: #FFFFFF;
//   background-color: #f48123;
  grid-column-gap: 0.333%;

}
.grid-item-our-thoughts {
  background-color: #f48123;
//   border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: justify;
  display: inline;
  word-wrap: break-word;
  overflow: hidden;
//  overflow-y: scroll;
  float: left;
  height: 100%
}
//
// css for Meet the teams
.grid-container-mmt {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 50% 50%;
  background-color: #f48123;
//   grid-column-gap: 0.333%;
//   grid-row-gap: 0.5%;
}
img.grid-image-mmt-1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-2 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-3 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-4 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  //display: inline-block;
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-5 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
img.grid-image-mmt-6 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
  float: left;
  overflow: hidden;
}
image-text-container-mmt {
  position: relative;
}
span.image-text-mmt-1 {
       position: absolute;
       top: 54%;
       left: 28%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-2 {
       position: absolute;
       top: 54%;
       left: 50%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-3 {
       position: absolute;
       top: 54%;
       right: 7%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-4 {
       position: absolute;
       top: 72.5%;
       left: 28%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-5 {
       position: absolute;
       top: 72.5%;
       left: 50%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
span.image-text-mmt-6 {
       position: absolute;
       top: 72.5%;
       right: 7%;
       color: #FFFFFF;
       visibility: hidden;
       opacity: 0;
       font-weight: bold;
       text-decoration: underline;
}
.image-text-container-mmt:hover img.grid-image-mmt-1 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-2 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-3 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-4 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-5 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover img.grid-image-mmt-6 {
  visibility: visible;
  opacity: 0.2;
}
.image-text-container-mmt:hover span.image-text-mmt-1 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-2 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-3 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-4 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-5 {
  visibility: visible;
  opacity: 1;
}
.image-text-container-mmt:hover span.image-text-mmt-6 {
  visibility: visible;
  opacity: 1;
}
.hero-banner-parent {
  position: relative;
  overflow: hidden;
  background-image:url(../images/careers/hero-banner.jpg);
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.wave-space {
  position: absolute;
  width:  80%;
  height: 100%;
  bottom:0;
  left:0;
}
.wave {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 15%;
  background-attachment: scroll;
  background-image:url(https://raw.githubusercontent.com/isomerpages/isomerpages-sentosa/9e9158248a876d65fe5f0208b6a24b73739f7b6b/images/careers/wave.svg);
  z-index: 1;
  background-repeat: repeat-x;
}
